.elements {
    display: grid;
    grid-template-columns: 282px 282px 282px;
    grid-template-rows: 361px 361px;
    column-gap: 17px;
    row-gap: 20px;
    width: 100%;
    max-width: 880px;
    margin: 50px auto 67px auto;
}

.elements__element {
    display: grid;
    grid-template-columns: 282px;
    grid-template-rows: 282px 79px;
    grid-template-areas: "imagen imagen" "title like";
    background-color: #ffffff;
    color: black;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    border-radius: 10px;
    margin: 0;
}

.elements__like-buttom {
    grid-area: like;
    width: 21px;
    height: 19px;
}

.elements__tag {
    display: flex;
    margin: 25px 15px 31px 21px;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elements__title {
    grid-area: title;
    margin: 0;
    font-size: 24px;
    line-height: 29px;
}

.elements__img {
    grid-area: imagen;
    width: 100%;
    max-width: 282px;
    border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 600px) {
    .elements {
        grid-template-columns: 282px;
        grid-template-rows: 361px;
        width: 100%;
        max-width: 282px;
        margin: 36px auto 50px auto;
    }
}