.modal__header {
    color: black;
    margin: 34px 64px 54px 36px;
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: inherit;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_box_opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
    align-content: center;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    max-width: 430px;
    max-height: 330px;
    margin-top: 195px;
    z-index: 1;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal_form {
    display: flex;
    flex-direction: column;
}

..modal__close-button {
    position: absolute;
    top: 147px;
    right: 377px;
    background: url(../images/CloseIcon.png);
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    transform: rotate(-1deg);
    
}

..modal__close-button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.modal_box-shade {
    background-color: black;
    opacity: 75%;
    max-width: inherit;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}

.modal_space {
    display: flex;
    flex-direction: column;
}
.modal_input {
    margin: 0px 36px 30px 36px;
    width: 100%;
    max-width: 358px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.modal_sumit-button {
    width: 100%;
    max-width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 2px;
    margin: 18px auto;
    
}

.modal_sumit-button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal__container {
        max-width: 282px;
        max-height: 322px;
        margin-top: 123px;
    }
    .modal_sumit-button {
        max-width: 238px;
        max-height: 46px;
    }
    .modal_input {
        max-width: 238px;
        margin: 0px 22px 30px 22px;
    }
    .modal_space {
        max-width: 238px;
    }
    ..modal__close-button {
        top: 73px;
        right: 19px;
        width: 26px;
        height: 26px;
        background-size: contain;
    }
}