.modal__header {
    color: black;
    margin: 34px 64px 54px 36px;
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: inherit;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    z-index: 1;
}

.modal_box_opened {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: all !important;
    transition: visibility 0s, opacity 0.5s linear !important;
}

.modal__container {
    align-content: center;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    max-width: 430px;
    max-height: 330px;
    margin: 0 auto;
    z-index: 1;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal__form {
    display: flex;
    flex-direction: column;
}
.modal-box-close-container{
    margin: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 520px;
  max-height: 370px;
  margin-top: 148px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.modal__close-button {
    background: url(../images/CloseIcon.png);
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    transform: rotate(-1deg);
    margin: 4px 0px 0 auto;
    
}

.modal__close-button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.modal__box-shade {
    background-color: black;
    opacity: 75%;
    max-width: inherit;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}

.modal__space {
    display: flex;
    flex-direction: column;
}
.modal__input {
    margin: 0px 36px 30px 36px;
    width: 100%;
    max-width: 358px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.modal__sumit-button {
    width: 100%;
    max-width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 2px;
    margin: 18px auto;
    
}

.modal__sumit-button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal__container {
        max-width: 282px;
        max-height: 322px;

    }
    .modal__sumit-button {
        max-width: 238px;
        max-height: 46px;
    }
    .modal__input {
        max-width: 238px;
        margin: 0px 22px 30px 22px;
    }
    .modal__space {
        max-width: 238px;
    }
    .modal__close-button {
        width: 26px;
        min-width: 26px;
        min-height: 26px;
        height: 26px;
        background-size: contain;
    }
    .modal-box-close-container{
        max-width: 340px;
        max-height: 322px;
      }
}