.form__input_type_error {
  border-bottom: 1px solid #ff0000;
}
.form__input-error_active {
  visibility: visible;
}
.form__submit_inactive {
  background-color: white;
  opacity: 50%;
  color: black;
}
.form__submit_inactive:hover {
  opacity: 50%;
  cursor: default;
}
