.profile {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  min-height: 119px;
  height: 100%;
}
.profile__avatar {
  margin-right: 30px;
  width: 100%;
  max-width: 120px;
  position: relative;
  z-index: 1;
}
.profile__avatar:hover {
  opacity: 1;
}
.profile__avatar-icon {
  background-image: url(../images/editprofilepicture.png);
  background-repeat: no-repeat;
  height: 26px;
  margin: 0 !important;
  width: 26px;
  position: absolute;
  top: 38%;
  left: 39%;
}
.profile__avatar-icon:hover {
  visibility: visible;
}
.profile__image {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  position: absolute;
}
.profile__image:hover {
  opacity: 0.5;
}

.profile__content {
  display: flex;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.profile__edit {
  width: 10px;
  height: 10px;
  margin: auto auto;
}

.profile__edit-space {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  margin: 32px 0 0 18px;
  background: url(../images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__edit-space:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.7;
}

.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 16px 0 0 0;
}

.profile__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__main {
  display: flex;
  width: 83%;
}

.profile__edit-button {
  width: 100%;
  max-width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  margin: 32px 0 0 0;
  background-image: url(../images/addbutton.png);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}

.profile__edit-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 880px) {
  .profile__edit-button {
    width: fit-content;
    margin: 32px 56px 0px 0px;
  }

  .profile__main {
    justify-content: space-evenly;
    margin: 0 0 0 auto;
  }

  .profile {
    justify-content: flex-start;
    margin: 40px 0 0 0;
  }

  .profile__edit-space {
    margin: 32px 18px 0 18px;
  }
}

@media screen and (max-width: 600px) {
  .profile__main {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .profile__avatar {
    margin: 40px auto 0;
    z-index: 0;
    bottom: 120px;
  }

  .profile {
    margin: 120px auto 0;
    flex-direction: column;
    align-items: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-left: 29px;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 14px 0 0 29px;
  }

  .profile__content {
    display: flex;
  }

  .profile__edit-space {
    margin: 34px 0 0 10px;
    width: 18px;
    height: 18px;
  }

  .profile__edit-button {
    margin: 36px 0 0 0;
    width: 100%;
    max-width: 282px;
  }

  .profile__edit {
    width: 7.5px;
    height: 7.5px;
  }

  .profile__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }

  .profile__image {
    margin: 0;
  }

  .profile__button {
    width: 282px;
    height: 50px;
    margin: 36px 0 0 0;
  }
  .profile__avatar-icon {
    margin: 44px auto 0 auto !important;
  }
}
