<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="An epic journey from Kentucky to Burundi through Wales and Ukraine."
    />
    <title>Practicum Art Gallery</title>
    <link rel="icon" type="image/x-icon" href="../a__logo.svg" />
  </head>

  <body class="page">
    <!--body section of the page starts here -->
    <div class="page__content">
      <!--The edit profile modal box section starts here -->
      <div class="modal" id="profile__modal">
        <div class="modal-box-close-container">
          <button class="modal__close-button" id="modal__close-button"></button>
          <div class="modal__container">
            <h2 class="modal__header">Edit profile</h2>
            <form class="modal__form form" id="modal__form">
              <div class="modal__space">
                <input
                  type="text"
                  id="modal-name-input"
                  class="modal__input form__input"
                  name="Name"
                  placeholder="Name"
                  minlength="2"
                  maxlength="40"
                  required
                />
                <span class="modal-name-input-error form__input-error"
                  >Please fill out this field.</span
                >
              </div>
              <div class="modal__space">
                <input
                  type="text"
                  id="modal-description-input"
                  class="modal__input form__input"
                  name="Description"
                  placeholder="Description"
                  minlength="2"
                  maxlength="200"
                  required
                />
                <span class="modal-description-input-error form__input-error"
                  >Please fill out this field.</span
                >
              </div>
              <button type="submit" class="modal__sumit-button form__submit">
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
      <!--The adding card modal box section starts here -->
      <div class="modal modal__card" id="card">
        <div class="modal-box-close-container">
          <button
            class="modal__close-button"
            id="modal__card-close-button"
          ></button>
          <div class="modal__container">
            <h2 class="modal__header">New Place</h2>
            <form class="modal__form form" id="card__modal-form">
              <div class="modal__space">
                <input
                  type="text"
                  id="modal-input-title"
                  class="modal__input form__input"
                  name="name"
                  placeholder="Title"
                  minlength="1"
                  maxlength="30"
                  required
                />
                <span class="modal-input-title-error form__input-error"
                  >Please fill out this field.</span
                >
              </div>
              <div class="modal__space">
                <input
                  type="url"
                  id="modal-input-url"
                  class="modal__input form__input"
                  name="link"
                  placeholder="Image URL"
                  required
                />
                <span class="modal-input-url-error form__input-error"
                  >Please fill out this field.</span
                >
              </div>
              <button type="submit" class="modal__sumit-button form__submit">
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
      <!--header section of the page starts here -->
      <header class="header">
        <img
          class="header__logo"
          src="<%= require('./images/logo.png')%>"
          alt="Around_the_U.S"
        />
      </header>
      <main class="page__main">
        <section class="profile">
          <div class="profile__main">
            <img
              class="profile__image"
              src="<%= require('./images/profile.jpg')%>"
              alt="profile_picture"
            />
            <div class="profile__content">
              <div class="profile__titles">
                <h2 class="profile__name">Jacques Cousteau</h2>
                <p class="profile__subtitle">Explorer</p>
              </div>
              <button class="profile__edit-space"></button>
            </div>
          </div>
          <button class="profile__edit-button"></button>
        </section>
        <!--pop up element of the page starts here -->
        <div
          class="modal modal-selector modal__image-popup"
          id="modal__image-popup"
        >
          <div class="modal__image-close-container">
            <button
              class="modal__close-button"
              id="image__popup-close"
              type="button"
            ></button>
            <div class="modal__image-content">
              <img alt=".." class="modal__image" src=".." />
              <p class="modal__caption"></p>
            </div>
          </div>
        </div>
        <!--the element template  starts here -->
        <section class="elements">
          <template id="elements-template">
            <div class="elements__element">
              <div class="element__delete-button"></div>
              <img class="elements__img" src=".." alt=".." />
              <div class="elements__tag">
                <p class="elements__title">Yosemite Valley</p>
                <div class="elements__like-button-area">
                  <button class="elements__like-button"></button>
                </div>
              </div>
            </div>
          </template>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__copyrights">© 2022 Christopher Abreu</p>
      </footer>
    </div>
    <!--content section of the page ends here -->
  </body>
</html>
